body{
	font-family:Microsoft Yahei;
}
h1{
	color:rgba(7, 17, 27,0.8);
	text-align:center;
	font-family: Microsoft Yahei Light;
	font-size: 3rem;
	margin:50px;
}
nav{
	background:#fff;
	color:rgba(7, 17, 27,1);
	font-size: 1.25rem;
}
nav ul{
	margin:0;
	list-style: none;
	width:inherit;
	padding:0;
}
nav#topbar div{
	display:inline-block;
	text-align:center;
	padding:0px 36px;
}
nav ul li{
	width:inherit;
	text-align:center;
}
nav ul li:hover,nav .foucs,nav#topbar div:hover{
	background:#93999f;
}
nav ul li a,nav div a{
	text-decoration:none;
	display:block;
	line-height:5rem;
	width:inherit;
	color:rgba(7, 17, 27,0.8);
}
footer{
	height:50px;
	color:#666;
	background-color:#e0e3e5;
	text-align:center;
	padding:20px;
}
footer a{
	text-decoration: none;
	color:#666;
	transition: all 0.2s ease 0s;
}
footer a:hover{
	color:rgb(7, 17, 27);
}
nav#sidebar{
	width:300px;
	position:fixed;
	top:0;
	right:-300px;
	bottom:0;
	transition:right,0.4s;
	z-index:3;
	box-shadow:15px 0 50px 5px #111
}
nav a{
	letter-spacing: 4px;
}
#tp_right{
	float:right;
}
#mask{
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:2;
}
nav ul li ul{
	position:fixed;
	right:300px;
	background-color: #fff;
	display:none;
	z-index:5;
	box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
}
#sd_userSignOut{
	height:50px;
	display: flex;
	width:250px;
	justify-content: space-between;
	margin:10px auto
}
#sd_userSignOut button{
	border-width:0; 
	border-radius: 8px;
	background-color:#0f88eb;
	color:#FFF;
	text-align: center;
	line-height: 50px;
	width:100px;
	cursor:pointer;
	transition: all 0.2s ease 0s;
}
#sd_userSignOut button:hover{
	background-color:#0d79d1
}
button{
	font-family: Microsoft YaHei;
}
#sd_user ul{
	position:fixed;
	width:300px;
	right:300px;
	background-color: #fff;
	display:none;
	z-index:5;
	box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
}
#sd_user img{
	border:2px solid #fff;
	width:120px;
	height:120px;
	border-radius: 120px;
	padding:2px;
}
#sd_user table{
	padding:0;
	height:120px;
}
#sd_user table td{
	padding:10px;
}
#sd_user table tr{
	height:50px;
}
#sd_user p{
	margin:0 auto;
	color:#93999f;
	display:table;
	overflow: hidden;
}
td#sd_username{
	padding:20px 0 0 0;
}
td#sd_username p{
	font-size:24px;
}
td#sd_info{
	padding:0 0 20px 0;
}
td#sd_info p{
	font-size:15px;
	word-break:break-all;
}
#sd_user{
	display:none;
}
