button#comment_btn{
    display:block;
	border-width:0; 
	border-radius: 8px;
	background-color:#0f88eb;
	color:#FFF;
	text-align: center;
	line-height: 60px;
	cursor:pointer;
    transition: all 0.2s ease 0s;
    font-size:20px;
}
button#commment_btn:hover{
	background-color:#0d79d1
}
textarea{
    display:block;
    resize:none;
    border:0;
    background-color: #f3f5f7;
    transition:all 0.2s ease 0s;
    border-radius:5px;
    font-size:20px;
}
textarea:hover{
    box-shadow: inset 0px 0px 8px #ddd
}
div#comment{
    display:grid;
    padding:40px;
    height:auto;
    width:800px;
    margin:50px auto;
    background: #fff;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 1px;
    border-radius:5px;
    transition:all 0.5s ease 0s;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1)
}
div#comment:hover {
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2)
}
div#commentItems{
    width:800px;
    padding:40px;
    margin:50px auto;
    background: #fff;
    border-radius:5px;
    transition:all 0.5s ease 0s;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,.1)
}
div#commentItems:hover {
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2)
}
#commentItems div {
    margin:0 0 30px 0;
}
#commentItems img{
    width:50px;
    border-radius: 5px;
}
#commentItems .commentItem_username{
    display:inline-block;
    position: relative;
    top:-20px;
    margin:10px;
    font-size:20px;
    color:#93999f;
}
#commentItems .commentItem_postingTime{
    position: relative;
    top:-20px;
    
    display:inline-block;
    color:#93999f;
}
#commentItems .commentItem_content{
    margin:0;
}
