table#gamebox{
    background: #fff;
    margin:0 auto 50px auto;
    font-size: 2rem;
    text-align: center;
    color:rgba(7, 17, 27,0.8);
    border-radius:100px;
    border: 10px solid #fff;
}
table#gamebox tr{
    margin:0;
    width:200px;
    height:200px;
}
table#gamebox td{
    font-size:5rem;
    border:solid #93999f 2px;
    width:200px;
    border-radius:100px;
    height:200px;
    transition:all 0.2s ease
}
table#gamebox td:hover{
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2)
}
button{
    display:block;
    margin:60px auto;
	border-width:0; 
	border-radius: 8px;
	background-color:#0F87EB;
	color:#FFF;
	cursor:pointer;
    transition: all 0.2s ease 0s;
    height:100px;
    font-size:24px;
    width:240px;
}
button:hover{
	background-color:#0d79d1
}
div#loading{
    margin:60px auto 473px auto;
}
div#loading progress{
    display: block;
    margin:0 auto;
    width:500px;
    height:50px;
}