/*body{
	background:url("/assets/images/haiyangshen/bg.png");
	background-size:100%;
	background-repeat: no-repeat;
}*/
#b0{
	background-image:url("/assets/images/haiyangshen/bg.png");
}
#b1{
	background-image:url("/assets/images/haiyangshen/1.jpg");
}
#b2{
	background-image:url("/assets/images/haiyangshen/2.jpg");
}
#b3{
	background-image:url("/assets/images/haiyangshen/3.jpg");
}
#b4{
	background-image:url("/assets/images/haiyangshen/4.jpg");
}
.block{
	background-size:100%;
	background-repeat: no-repeat;
}
footer{
	margin:0
}
